[submodule "test/json-build"]
	path = test/json-build
	url = https://github.com/lcsmuller/json-build
	branch = master
[submodule "test/jsmn-find"]
	path = test/jsmn-find
	url = https://github.com/lcsmuller/jsmn-find.git
