[submodule "test/json-build"]
	path = test/json-build
	url = https://github.com/lcsmuller/json-build
	branch = master
[submodule "submodules/oa-hash"]
	path = submodules/oa-hash
	url = https://github.com/lcsmuller/oa-hash
	branch = main
[submodule "test/jsmn-find"]
	path = test/jsmn-find
	url = https://github.com/lcsmuller/jsmn-find.git
